.homepage {
  margin: 20px auto;
  padding: 20px;
  max-width: $maxWidth;

  display: flex;
  justify-content: center;

  .block-1 {
    width: 70%;
    margin-right: 25px;
  }

  .block-2 {
    width: 30%;
  }
}

@media (max-width: $lg) {
  .homepage {
    flex-direction: column;
    .block-1 {
      width: 100%;
      margin-bottom: 50px;
    }

    .block-2 {
      width: 100%;
    }
  }
}

@media (max-width: $md) {
}

@media (max-width: $sm) {
  .homepage {
    padding: 15px;
  }
}
